:root {
  /* Primary */
  --Moderate-violet: hsl(263, 55%, 52%);
  --Very-dark-grayish-blue: hsl(217, 19%, 35%);
  --Very-dark-blackish-blue: hsl(219, 29%, 14%);
  --White: hsl(0, 0%, 100%);

  /* Neutral */
  --Light-gray: hsl(0, 0%, 81%);
  --Light-grayish-blue: hsl(210, 46%, 95%);
}

* {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 13px;
  letter-spacing: 0.05cap;
  line-height: 1.3;
}

p,
h3 {
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--Light-grayish-blue);
}

.testimonial-section {
  display: grid;
  grid-template-columns: repeat(4, 250px);
  grid-template-rows: repeat(2, 300px);
  gap: 20px;
}

.testimonial-card {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
}

.testimonial-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
}

.testimonial-content-avatar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.avatar-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatar-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 3px;
}

.avatar-details h3 {
  font-size: 14px;
}

.verified-graduate {
  font-size: 12px;
  color: var(--Light-gray);
}

.testimonial-quote {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: normal;
  line-height: normal;
}

.testimonial-detail {
  color: var(--Light-gray);
}

.purple {
  position: relative;
  background-color: var(--Moderate-violet);
  grid-column: span 2;
}

.purple .avatar-image {
  border: 2px solid var(--Light-gray);
}

.purple .avatar-details h3 {
  color: var(--White);
}

.purple .testimonial-quote {
  color: var(--White);
  z-index: 2;
}

.gray {
  background-color: var(--Very-dark-grayish-blue);
}

.gray .avatar-image {
  border: 2px solid var(--Light-gray);
}

.gray .avatar-details h3 {
  color: var(--White);
}

.gray .testimonial-quote {
  color: var(--White);
}

.white {
  grid-row: span 2;
  background-color: var(--White);
}

.white .avatar-image {
  border: 2px solid var(--Light-gray);
}

.white .avatar-details h3 {
  color: var(--Very-dark-grayish-blue);
}

.white .testimonial-quote {
  color: var(--Very-dark-grayish-blue);
}

.light-gray {
  background-color: var(--White);
}

.light-gray .avatar-image {
  border: 2px solid var(--Light-gray);
}

.light-gray .avatar-details h3 {
  color: var(--Very-dark-grayish-blue);
}

.light-gray .testimonial-quote {
  color: var(--Very-dark-grayish-blue);
}

.dark-gray {
  grid-column: span 2;
  background-color: var(--Very-dark-blackish-blue);
}

.dark-gray .avatar-image {
  border: 2px solid var(--Moderate-violet);
}

.dark-gray .avatar-details h3 {
  color: var(--White);
}

.dark-gray .testimonial-quote {
  color: var(--White);
}

.quotation-bg {
  position: absolute;
  top: 20px;
  right: 30px;
  z-index: 1;
}

@media screen and (max-width: 440px) {
  .testimonial-section {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
  }

  .white {
    grid-area: 5/1/6/1;
    grid-column: span 2;
  }

  .gray {
    grid-column: span 2;
  }

  .light-gray {
    grid-column: span 2;
  }
}
